<% @sponsor_needs.each do |need| %>
  <h4><%=need.student_need.need.title%></h4>
  <p>Description: <%= need.student_need.description %></p>
  <p>Student: <%= need.student_need.student.first_name %><p>
  <%= image_tag need.student_need.student.profile_photo %>
  <p>You donated $<%=need.amount_given.to_i%>.<p><br/>
<% end %>
