<h1>Create a Need.</h1>

<% if current_user.status == "student"%>
  <%= form_for(@need, html:{multipart: true}) do |f| %>
    <%= f.label :title, "Select a Need" %>
    <%= f.select :title, options_for_select(@need_category), {include_blank: true} %><br />
    <%= f.label :end_date%>
    <%= f.date_field :end_date %><br />

    <%= fields_for @student_need do |n| %>
      <h6><%= n.label :proof, "Show Proof:" %> <%= n.file_field :proof, accept: 'image/png, image/jpeg' %>
        <% end %></h6>


    <%= hidden_field_tag 'user_id', current_user.id %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to 'back', user_path(current_user)%><br>
