
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                  [ SPONSOR PROFILE]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<% if current_user.status == 'sponsor' %>
      <% if current_user.id == @user.id %>
          <!-- <h1 class="welcome">Welcome, <%= current_user.first_name %> </h1> -->
          <h4><%= link_to "Find Student to Sponsor", new_search_path %></h4>
          <!-- [ FOLLOWING ] ============================================-->
          <h3>Following</h3>
          <% @sponsored_students.each do |student| %>
          <%= link_to student.student.first_name, student_show_path(student.student)%><br>
          <% end %><br/>
          <!-- [ EACH CHALLENGES ] ============================================-->
          <h3>Challenges</h3>
          <% current_user.challenged_students.each do |row| %>
          <b><%= link_to Challenge.find(row.challenge_id).name,challenge_path(row) %> :</b>
          <%= User.find_by(:id => row.student_id).first_name %><br>
          <% end %>
          <br>
          <!-- [ CHALLENGE CATEGORY ] ============================================-->
          <h3>Challenges By Category</h3>
          <% Challenge.all.each do |challenge| %>
          <%= link_to challenge.name, '/challenges' %><br>
          <%end%>
          <h3><%= link_to "Create A Challenge", new_challenge_path %></h3>


      <!-- [ VIEWING OTHER PROFILES ] |||||||||||||||||||||||||||||||||||||||-->
      <% elsif current_user.id != @user.id %>
          <h3><%= @user.first_name %> <%= @user.last_name %></h3>
            <%if !current_user.sponsored_students.pluck(:student_id).include?(@user.id)%>
              <%= form_tag(:action => 'follow') do %>
              <%= hidden_field_tag(@user.id) %>
              <%= submit_tag('Follow') %>
            <%end%>
          <% end %>

          <p><%= @user.school_name %></p>
          <p><%= @user.major %></p>
          <!-- [ USERS CHALLENGES ] =========================================-->
          <h3><%= @user.first_name %>'s Needs</h3>
      <% end%>

  <%= link_to 'See how many lives you\'ve changed', total_given_path %>
<% end %>


<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                  [ STUDENT PROFILE]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

<% if current_user.status == 'student' %>
      <% if current_user.id == @user.id %>
      <!-- [ FOLLOWERS ] ===================================================-->
      <h1>Followers</h1>
      <% @student_sponsors.each do |row|%>
      <%= User.find(row.sponsor_id).first_name%><br>
      <% end %>
      <!-- [ CHALLENGES ] ===================================================-->
      <h1>Challenges</h1>
      <% @challenges.each do |challenge| %>
      <%= link_to Challenge.find(challenge.challenge_id).name, challenge_path(challenge) %> From:
      <%= link_to User.find(challenge.sponsor_id).first_name, user_path(User.find(challenge.sponsor_id)) %><br>
      <% end %>
      <!-- [ ACCEPTED CHALLENGES ] ==========================================-->
      <h1>Challenges Accepted</h1>
      <% StudentChallenge.where(:accepted => true).each do |challenge|%>
      <%= link_to Challenge.find(challenge.challenge_id).name, challenge_path(challenge) %> From:
      <%= link_to User.find(challenge.sponsor_id).first_name, user_path(User.find(challenge.sponsor_id)) %><br>
      <% end %>
      <!-- [ NEEDS ] ==========================================-->
      <h1>Needs</h1>
      <b> <%= link_to "Create a Need", new_student_need_path %></b>
      <!-- List Needs -->
      <% current_user.student_needs.each do |student_need| %>
      <p><%= link_to student_need.need.title, student_need_path(student_need) %><br/>
          Start Date: <%= student_need.start_date.to_formatted_s(:long) %><br/>
          End Date: <%= student_need.end_date.to_formatted_s(:long) %><br/>
      </p>
        <%= link_to 'Edit your need', edit_student_need_path(student_need) %><br/>
      <%end%>

      <!-- [ VIEWING OTHER PROFILES ] |||||||||||||||||||||||||||||||||||||||-->
      <% elsif current_user.id != @user.id %>
        <h3><%= @user.first_name %></h3>
        <h3><%= @user.status %></h3>
      <% end%>





<% end %>
