
        <h1>Welcome, <%= @user.first_name %> </h1>
        <p>
          <%= current_user.race %>
        </p>
        <p>
          <%= current_user.school_name %>
        </p>
        <p>
          <%= link_to "Create a Need", new_user_need_path(current_user) %>
        </p>


        <!-- CREATES NEEDS ||||||||||||||||||||||||||| -->
        <h1>Needs</h1>
        <% current_user.student_needs.each do |student_need| %>
          <p>
            <%= link_to student_need.need.title, student_need_path(student_need) %><br/>
            Start Date: <%= student_need.start_date.to_formatted_s(:long) %><br/>
            End Date: <%= student_need.end_date.to_formatted_s(:long) %><br/>
          </p>
        <%end%>

        <!-- SEARCH LINK FOR A USER ||||||||||||||||||||||||||| -->
        <h3><%= link_to "I need a student to sponsor", new_search_path %></h3>

        <!-- FOLLOW A USER ||||||||||||||||||||||||||| -->
<% if current_user.status == "sponsor" && current_user.id != @user.id %>
        <%= form_tag(:action => 'follow') do %>
        <table>
          <tr>
            <!-- <td><%= label_tag(:follow_id) %></td> -->
            <td><%= hidden_field_tag(@user.id) %></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><%= submit_tag('Follow') %></td>
          </tr>
        </table>
        <% end %>
<% end %>

      <h1>Following</h1>
      <% @sponsored_students.each do |student| %>
          <%= student.student.first_name %> <br/>
      <% end %>
