
<h1>Welcome, <%= @user.first_name %> </h1>
<p>
  <%= current_user.race %>
</p>
<p>
  <%= current_user.school_name %>
</p>
<p>
  <%= link_to "Create a Need", new_user_need_path(current_user) %>
</p>


  <%= form_tag(:action => 'follow') do %>
  <table>
    <tr>
      <!-- <td><%= label_tag(:follow_id) %></td> -->
      <td><%= hidden_field_tag(@user.id) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag('Follow') %></td>
    </tr>
  </table>
  <% end %>
