<h1>Welcome, <%= current_user.first_name %></h1>
<p>
  <%= current_user.race %>
</p>
<p>
  <%= current_user.school_name %>
</p>
<p>
  <%= link_to "Create a Need", new_user_need_path(current_user) %>
</p>
<h1>Needs</h1>
<% current_user.student_needs.each do |student_need| %>
  <p>
    <%= student_need.need.title %><br/>
    Start Date: <%= student_need.start_date.to_formatted_s(:long) %><br/>
    End Date: <%= student_need.end_date.to_formatted_s(:long) %><br/>
  </p>
<%end%>
