<h4>Select Student or Sponsor</h4>
  <%= form_for(@user, url: {action: 'status_selected', method: :patch}) do |f| %>
    <div class="col-sm-2">
      <%= f.label :status_student, "Student"%>
      <%= f.radio_button :status, 'student' %>
    </div>
      <%= f.label :status_sponsor, "Sponsor" %>
      <%= f.radio_button :status, 'sponsor'%><br>
    <div class="col-sm-2">
      <%= f.submit 'Submit Status', class: "btn btn-default btn-xs" %>
  <% end %>
    </div>

