
<%= form_for(@user, url: {action: 'update'}) do |f| %>
<%= f.label :school_name, "School Name"%>
<%= f.text_field :school_name %><br/>
<%= f.label :major, "Major" %>
<%= f.text_field :major %><br>
<%= f.label :gpa, "G.P.A" %>
<%= f.text_field :gpa %><br>
<%= f.label :gender, "Gender" %>
<%= f.text_field :gender %><br>
<%= f.label :race, "Race" %>
<%= f.text_field :race %><br/>
<%= f.label :location, "Location" %>
<%= f.text_field :location %><br>
<%= f.label :bio, "Biography" %>
<%= f.text_area(:bio, cols: 20, rows: 5) %><br>

<h3>Academic Calender</h3>

<%= f.label :spring_semester, "Spring Semester"%>
<%= f.date_select :spring_semester, :minute_step => false %>
<br>
<%= f.label :fall_semester, "Fall Semester"%>
<%= f.date_select :fall_semester, :minute_step => false %>

<br>

<%= f.submit 'Join Us'%>
<% end %>
