<h3>Find a student to sponsor</h3>

<%= form_for @search do |f| %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %><br>

  <%= f.label :email, "Student Email" %>
  <%= f.email_field :email %><br>

  <%= f.label :school_name, "School Name" %>
  <%= f.select :school_name, options_for_select(@school_name) %><br>

  <%= f.label :major, "Major" %>
  <%= f.select :major, options_for_select(@major) %><br>

  <%= f.label :gender, "Gender" %>
  <%= f.select :gender, options_for_select(@gender) %><br>

  <%= f.label :race, "Race" %>
  <%= f.select :race, options_for_select(@race) %><br>

  <%= f.label :location, "Location" %>
  <%= f.select :location, options_for_select(@location) %><br>

<%= f.submit "Find a Student", class: "btn btn-default btn-sm" %>
<% end %>

<%= link_to 'back', user_path(current_user)%>
