<h4>Search Results</h4>

<% if @search.search_students.empty? %>
  <p>No Student Found</p>
<% else %>
  <% @search.search_students.each do |f| %>
  <!-- <h4><= f.profile_photo%></h4> not built out yet #add to search.rb-->
  <h4><%= f.first_name %></h4>
  <h4><%= f.last_name %></h4>
  <p>Email: <%= f.email %></p> 
  <p><%= f.school_name %></p>
  <p>Major: <%= f.major %></p> 
  <p>Gender: <%= f.gender %></p>
  <p>Race: <%= f.race %></p>
  <p>Location: <%= f.location %></p> 
  <p>Bio: <%= f.bio %></p> 
  <!-- <p><= f.gpa %></p>  -->


  <% end %>
<% end %>

<p><%= link_to 'Back', new_search_path %></p>





  



