<h4>Search Results</h4>

<% if @search.search_students.empty? %>
  <p>No Student Found</p>
<% else %>
  <% @search.search_students.each do |student| %>
  <%= image_tag student.profile_photo %>
  <h4><a href="/users/<%=student.id%>"><%= student.first_name %> <%= student.last_name %></a></h4>
  <p>Email: <%= student.email %></p>
  <p>School Name: <%= student.school_name %></p>
  <p>Major: <%= student.major %></p>
  <p>Gender: <%= student.gender %></p>
  <p>Race: <%= student.race %></p>
  <!-- <p>Location: <%= student.location %></p> -->
  <p>Bio: <%= student.bio %></p>

  <% end %>
<% end %>

<p><%= link_to 'Back', new_search_path %></p>
