<div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Create a Challenge</h3>
        <div class="actions pull-right">
        <i class="fa fa-expand"></i>
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times"></i>
        </div>
    </div>


    <%= form_tag do %>
    <br>
    <div class="form-group">
    <%= label_tag :type_of_challenge %>
    <%= select_tag 'name', options_for_select(Challenge.all.collect{ |u| [u.name] }) %>
    </div>
    <div class="form-group">
    <%= label_tag :students_to_challenge %>
    <%= select("user", "name", current_user.sponsored_students.all.collect {|u| User.find(u).first_name}, prompt: 'All') %>

  </div>

    <%= submit_tag 'create challenge', class: "btn btn-primary" %>
     <% end %>
     <br>
    <%= link_to 'back', user_path(current_user), class: "btn btn-primary"%>
  </div><!-- END PANEL default-->
</div>
