<h1><%= @student_need.need.title %></h1>

<%= form_tag("/sponsor_needs/back_need") do %>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<%= hidden_field :student_need_id, value: @student_need.id %>
<%= text_field_tag (:amount) %>
<%= submit_tag 'Back Student!' %>
<% end %>
