<h3>Create a Need.</h3>

<% if current_user.status == "student"%>
  <div class="col-md-5">
    <%= form_for(@student_need, html:{multipart: true}) do |f| %>
      <form role="form">
        <div class="form-group">
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.label :need_id, "Select a Category" %>
          <%= f.collection_select :need_id, Need.all, :id, :title %><br>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :need_expense, "Need Expense"%>
          <%= f.number_field :need_expense, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :proof, "Proof" %>
          <%= f.file_field :proof, accept: 'image/png, image/jpeg' %>
        </div>
        <div class="form-group">
          <%= f.label :end_date %>
          <%= f.date_field :end_date, class: "form-control"  %>
        </div>
      <%= f.submit "Submit need", class: "btn btn-primary" %><br><br>
    <% end %>   

  <%= link_to 'back', user_path(current_user), class: "btn btn-primary"%>
  </div>
<% end %>
