<h1>Create a Need.</h1>

<% if current_user.status == "student"%>

  <%= form_for(@student_need, html:{multipart: true}) do |f| %>
    <%#= f.select :title, options_for_select(@need_category), {include_blank: true} %>
    <%# unsure what to do with categories (Katie) %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :need_id, "Select a Category" %>
    <%= f.collection_select :need_id, Need.all, :id, :title %><br>
    <%= f.label :proof, "Proof" %>
    <%= f.file_field :proof, accept: 'image/png, image/jpeg' %><br>
    <%= f.label :need_expense %>
    <%= f.number_field :need_expense %><br><br>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %><br /><br>
    <%= f.submit "Submit need" %>
  <% end %>

  <%= link_to 'back', user_path(current_user)%><br>

<% end %>
