<h1><%= @student_need.need.title %></h1>
<%= notice %>
<p>
  This need was created <%= @student_need.start_date.to_formatted_s(:long) %>.
</p><br/>
<p>
  <%= @student_need.total_amount %> dollars has been donated to this need.
</p>
<p>
  This need requires <%= @student_need.need_expense %> dollars to be met.
</p>
<% if @student_need.state == 'fulfilled' %>
  <p>
    This need has been met!
  </p>
<%else%>
 <p>
   This need has not been met yet!
 </p>
<%end%>
<%= image_tag @student_need.proof_url.to_s %>
