<!DOCTYPE html>
<html>
<head>
  <title>HandUp</title>
  <meta charset="utf-8">
  <meta name="description" content="A platform for students to recieve educational funds in the form of sponsorship">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body>
<%= yield %>
</body>

</html>
