<!DOCTYPE html>
<html>
<head>
    <title>HandUp</title>
    <meta charset="utf-8">
    <meta name="description" content="A platform for students to recieve educational funds in the form of sponsorship">
    <meta name="author" content="The Holy Trinity">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hand Up</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'https://js.stripe.com/v1/', :defaults %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <%= csrf_meta_tags %>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= analytics_init if Rails.env.production? %>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"> -->
    <!-- Fonts  -->
    <!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="simple-line-icons.css"> -->
    <!-- CSS Animate -->
    <!-- <link rel="stylesheet" href="animate.css"> -->
    <!-- Custom styles for this theme -->
    <!-- <link rel="stylesheet" href="main.css"> -->
    <!-- Feature detection -->
    <script src="modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/vendor/html5shiv.js"></script>
    <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<% if current_user == nil %>


<!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
          [ Navigation ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">HandUp</a> -->
                </div><!--end navbar-header page-scroll -->

          <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#services">How It Works</a></li>
                    <li><a class="page-scroll" href="/auth/linkedin">Log In</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
          </div><!--end container--> <!-- /.container-fluid -->
          </nav>


<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
          [ Header ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <header>
          <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Welcome To HandUp!</div>
              <div class="intro-heading">Sponsor A Student Today</div>
              <a href="#services" class="page-scroll btn btn-xl">How it works</a>
          </div><!--end intro-text-->
          </div><!--end container-->
          </header>



<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
        [ Services Section ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <section id="about">
        <div class="container">
          <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About</h2>
              <h3 class="section-subheading text-muted">This is about the app.</h3>
          </div><!--end col-lg-12 text-center-->
          </div><!-- end row -->

        <!--   <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Sign In With Linkden</h4>
              <p class="text-muted"></p>
          </div>end col-md-4

          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-search fa-stack-1x fa-inverse"></i>              </span>
              <h4 class="service-heading">Search</h4>
              <p class="text-muted"></p>
          </div>end col-md-4

          <div class="col-md-4">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Sponsor</h4>
              <p class="text-muted"></p>
          </div>end col-md-4
          </div>end row text-center
    </div> end container
    </section>end services -->


<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  [ ABOUT Section ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    <!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">For Students and Sponsors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse"></i></span>
                                <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Sign in with Linkedin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Both Students and Sponsors can sign into our app with Linkedin. Once you sign in you will decide whether you are a student or a sponsor. If you are a student you will fill out a short survey about yourself. If you are a sponsor you can search for students who are not sponsored yet. Student can posts the needs that they have by showing proof of the need. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                                <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Searching for a Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once you find a student you would like to sponsor you can check out their profile and follow them. When you go to their profile and follow you can view their needs and offer challenges. Student can accept or deny a challenges and challenges are on a semester basis.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                              </span>
                               <!--  <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Sponsor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once you have students that you want to sponsor you can decide to donate towards their goal for their need. Also there are four challenges: Increase GPA, Honors, Dean's List and Community Service. At the end of the semester the challenge is due and both students and sponsors have to confirm the completion.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-chevron-down"></i>
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                              </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Being in college is hard.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Together we can support college students to help them survive financially what could be a lifetime burden.</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="/auth/linkedin">Lend A
                                    <br>Hand!</h4>
                                     </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Hand Up 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

<% else %>
      <!-- \\\\\\ SIGUN UP PROCESS VIEW //////// -->


      <!-- Page Wrapper-->
       <section id="main-wrapper" class="theme-default">
         <!-- Page wrapper -->
          <header id="header"> <%= render partial: "layouts/partials/header" %> </header>
          <!-- Left Sidebar Navigation -->
          <aside class="sidebar sidebar-left"> <%= render partial: "layouts/partials/leftsidebar" %> </aside>
          <!-- Content wraper -->
           <section class="main-content-wrapper">
              <!-- Main content view  -->
                  <%= yield %>
              <!-- Footer -->
              <div><%= render partial: "layouts/partials/footer" %></div>
          </section>
          <!-- /Content wraper-->
      </section>
      <!-- /Page wrapper-->
      <!-- Right Sidebar Navigation -->
      <aside><%= render partial: "layouts/partials/rightsidebar" %></aside>
      <!-- /Right Sidebar Navigation -->


       <%= javascript_include_tag 'base' %>
       <%= javascript_include_tag 'application' %>






<% end %>
</body>

</html>
