<!DOCTYPE html>
<html>
<head>
  <title>HandUp</title>
  <meta charset="utf-8">
  <meta name="description" content="A platform for students to recieve educational funds in the form of sponsorship">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'https://js.stripe.com/v1/', :defaults %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <%= csrf_meta_tags %>
  <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<% if current_user == nil %>

      <div id="header-wrap">
        <header id="nav">
          <a class="button-signup">Create Account</a>

          <a class="nav-buttons">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Search</a>
          <a class="nav-buttons">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Sponsors</a>
          <a class="nav-buttons">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            Lend A Hand</a>
          <b><a class="button-login" href="/auth/linkedin">log in<a></b>
          <!-- <b><a class="button-login" href="/signout">log out<a></b> -->

        </header>
      </div>

    <div id="app-content">



      <div id="project-carousel-first" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-to="0" class="active"></li>
            <li data-to="1"></li>
            <li data-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <div class="inner-item" style="background:url('http://placehold.it/1200x600/333333'); background-size:cover;"></div>
            </div>
            <div class="item">
                <div class="inner-item" style="background:url('http://placehold.it/1200x600/f00f00'); background-size:cover;"></div>
            </div>
            <div class="item">
                <div class="inner-item" style="background:url('http://placehold.it/1200x600/000000'); background-size:cover;"></div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="[id*=project-carousel]" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="[id*=project-carousel]" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>




    </div><!--app content wrap-->

<% else %>
      <!-- \\\\\\ SIGUN UP PROCESS VIEW //////// -->

<%= yield %>

<% end %>
</body>

</html>
