<!DOCTYPE html>
<head>
  <title>HandUp</title>
  <meta charset="utf-8">
  <meta name="description" content="A platform for students to recieve educational funds in the form of sponsorship">
  <%= stylesheet_link_tag 'student_profile', media: 'all' %>
  <%= javascript_include_tag 'https://js.stripe.com/v1/', :defaults %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <header id="head">
    <div class="app-logo"><a href="/"><%= image_tag('handup-logo.png', size:'100x50')%></a></div>
    <ul class="head-links">
      <a href="/"><li><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></li></a>
      <a href="/"><li><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></li></a>
      <a href="/"><li><span class="glyphicon glyphicon-search" aria-hidden="true"></span></li></a>
      <b><a class="button-login" href="/signout">log out<a></b>

    </ul>
  </header>

  <div id="wrap">
  <aside id="sidebar">
    <div class="mini-user">
      <a class="user-mini-photo"><%= image_tag('profile-default.jpg', size:'60x60')%><a>
      <a class="user-name"><%= current_user.first_name%>, <%= current_user.last_name%></a>
    </div>
    <ul class="sidebar">
      <a href="/"><li class="sidebar-links">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Link 0</li>
      </a>
      <a href="/"><li class="sidebar-links">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Link 1</li>
      </a>
      <a href="/"><li class="sidebar-links">
        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Link 2</li>
      </a>
      <a href="/"><li class="sidebar-links">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>Link 3</li>
      </a>
      <a href="/"><li class="sidebar-links">
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Link 4</li>
      </a>
   </ul>
  </aside>

  <main id="content">
    <div id="content-inner-wrap">
      <%= yield %>
    </div>
  </main>

</div><!--end wrap-->
</body>

</html>
